<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tracker.tracker" >
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />

    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-library android:name="com.google.android.maps" />

    <permission
        android:name="com.vogella.android.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.vogella.android.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.UI_Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.UI_Register"
            android:label="@string/register"
            android:parentActivityName=".ui.UI_Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.UI_Login" />
        </activity>
        <activity
            android:name=".ui.UI_PersonalPage"
            android:label="@string/personal_page"
            android:parentActivityName=".ui.UI_Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.UI_Login" />
        </activity>
        <activity
            android:name=".ui.UI_Profile"
            android:label="@string/profile"
            android:parentActivityName=".ui.UI_PersonalPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.UI_PersonalPage" />
        </activity>
        <activity
            android:name=".ui.UI_TrackingPage"
            android:label="@string/tracking_page"
            android:parentActivityName=".ui.UI_PersonalPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.UI_PersonalPage" />
        </activity>
        <activity
            android:name=".ui.UI_SpecificLocation"
            android:label="@string/specific_location"
            android:parentActivityName=".ui.UI_TrackingPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.UI_TrackingPage" />
        </activity>
        <activity
            android:name=".ui.UI_TrackeePage"
            android:label="@string/trackee_page"
            android:parentActivityName=".ui.UI_PersonalPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.UI_PersonalPage" />
        </activity>
        <activity
            android:name=".ui.UI_Notification"
            android:label="@string/notification"
            android:parentActivityName=".ui.UI_TrackeePage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.UI_TrackeePage" />
        </activity>

        <service
            android:name=".services.local.locationService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".ui.UI_UserProfile"
            android:label="@string/title_activity_ui__user_profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAl_TPfioJCBRuLlG4ZnfGL78gJO3Nmf6g" />
    </application>

</manifest>
