<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tracker.tracker" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Register"
            android:label="@string/register"
            android:parentActivityName=".ui.Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Login" />
        </activity>
        <activity
            android:name=".ui.PersonalPage"
            android:label="@string/personal_page"
            android:parentActivityName=".ui.Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Login" />
        </activity>
        <activity
            android:name=".ui.Profile"
            android:label="@string/profile"
            android:parentActivityName=".ui.PersonalPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.PersonalPage" />
        </activity>
        <activity
            android:name=".ui.TrackingPage"
            android:label="@string/tracking_page"
            android:parentActivityName=".ui.PersonalPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.PersonalPage" />
        </activity>
        <activity
            android:name=".ui.SpecificLocation"
            android:label="@string/specific_location"
            android:parentActivityName=".ui.TrackingPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.TrackingPage" />
        </activity>
        <activity
            android:name=".ui.TrackeePage"
            android:label="@string/trackee_page"
            android:parentActivityName=".ui.PersonalPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.PersonalPage" />
        </activity>
        <activity
            android:name=".ui.Notification"
            android:label="@string/notification"
            android:parentActivityName=".ui.TrackeePage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.TrackeePage" />
        </activity>

        <service
            android:name=".services.local.locationService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
