<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tracker.tracker" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/register"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>
        <activity
            android:name=".PersonalPage"
            android:label="@string/personal_page"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/profile"
            android:parentActivityName=".PersonalPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PersonalPage" />
        </activity>
        <activity
            android:name=".TrackingPage"
            android:label="@string/tracking_page"
            android:parentActivityName=".PersonalPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PersonalPage" />
        </activity>
        <activity
            android:name=".SpecificLocation"
            android:label="@string/specific_location"
            android:parentActivityName=".TrackingPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TrackingPage" />
        </activity>
        <activity
            android:name=".TrackeePage"
            android:label="@string/trackee_page"
            android:parentActivityName=".PersonalPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PersonalPage" />
        </activity>
        <activity
            android:name=".Notification"
            android:label="@string/notification"
            android:parentActivityName=".TrackeePage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TrackeePage" />
        </activity>
    </application>

</manifest>
